In [1]:
import pandas as pd
import python.twitter_authentication as twit_auth
from python.twitter_scraping import scrape_tweets

twitter_api = twit_auth.authenticate_twitter()
dat = scrape_tweets("Super Bowl", 1000)

Getting tweets 100 to 200
Getting tweets 200 to 300
Getting tweets 300 to 400
Getting tweets 400 to 500
Getting tweets 500 to 600
Getting tweets 600 to 700
Getting tweets 700 to 800
Getting tweets 800 to 900
Getting tweets 900 to 1000

In [3]:
dat.head()

,id,retweet_count,text
0,828517558835884032,91,RT @RDTLadyGaga: Lady Gaga divulgou fotos dos ...
1,828517558567399424,0,Tom Brady MVP super bowl 51 https://t.co/hFmf...
2,828517558290673664,0,Sharing the latest #Tech #Startups #Gadgets #F...
3,828517558240288769,15176,RT @RobGronkowski: New England Patriots Super ...
4,828517557841838083,244,RT @Mr_Kapowski: Me: Thanks for coming to my S...

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
v = TfidfVectorizer()
x = v.fit_transform(dat['text'])

In [26]:
dat['tfidf'] = list(x.toarray())

In [45]:
v.get_feature_names()

list

In [76]:
dat_tf = pd.DataFrame(list(x.toarray()))
dat_tf.columns = v.get_feature_names()
dat_tf.head(2)

,00,006uorgi7u,02,05,06,07,0gw27u9gjx,0nromc7pfu,0oafp6oj0b,0pxk1tp,...,バドワイザー,パフォーマンスに号泣,ベスト,ホンダ,人種,創業の起源は移民,宗教,性的指向関係なく受け入れる寛容性,男女平等賃金,自信を持って夢は追うべきもの
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [77]:
dat_tf = dat_tf.stack().reset_index()
dat_tf.columns = ['document_id', 'term', 'idf']
dat_tf.head(3)

   document_id        term  idf
0            0          00  0.0
1            0  006uorgi7u  0.0
2            0          02  0.0

In [89]:
dat_tf['is_zero'] = dat_tf.idf != 0
dat_tf.is_zero.value_counts()

False    3717330
True       15670
Name: is_zero, dtype: int64

In [92]:
dat_tf[dat_tf['is_zero']==True].groupby('term').size().sort_values(ascending=False)

term
super             811
bowl              811
https             700
rt                678
co                669
the               414
to                185
patriots          152
in                143
gaga              136
lady              124
of                112
and               104
superbowl         102
brady              86
is                 80
that               77
show               74
this               74
it                 70
for                68
halftime           67
tom                67
at                 64
trump              63
li                 63
with               58
win                57
was                57
on                 55
                 ...
nk8z7zfzxh          1
nk6izg3qtk          1
një                 1
niveau              1
niobztp2qh          1
ninjafast22         1
nil                 1
notes               1
notmy               1
november            1
nvlbyncff1          1
nämna               1
nyy96gbq0l          1
nypostsports        1
nymag               1
nyiucsmsiy          1
nxneins             1
nww4fpy4fn          1
nw5c3xkvor          1
nutritionists       1
nq513texdt          1
nur                 1
nukingpolitics      1
nuevo               1
nu                  1
ntvgadolil          1
ntuhjaz55f          1
nrxa2oizfs          1
nrx0jwnh1c          1
00                  1
dtype: int64