In [10]:
import pandas as pd
import python.twitter_authentication as twit_auth
from python.twitter_scraping import scrape_tweets

twitter_api = twit_auth.authenticate_twitter()
dat = scrape_tweets("Super Bowl", 1000)

Getting tweets 100 to 200
Getting tweets 200 to 300
Getting tweets 300 to 400
Getting tweets 400 to 500
Getting tweets 500 to 600
Getting tweets 600 to 700
Getting tweets 700 to 800
Getting tweets 800 to 900
Getting tweets 900 to 1000

In [11]:
dat.head()

,id,retweet_count,text
0,828664186502787073,5,RT @Ajayjurado: I feel like I was the only one...
1,828664186469220352,8271,"RT @NFL: OH MY GOD, JULIAN EDELMAN! #SB51 #Pat..."
2,828664186360254464,954,RT @SportsCenter: Since the Pats won their fir...
3,828664186066632705,5336,"RT @korndiddy: I didn't think it was possible,..."
4,828664185861107712,18531,RT @OfficeScenes: Lady Gaga is going to kill t...

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
v = TfidfVectorizer()
x = v.fit_transform(dat['text'])

In [13]:
dat['tfidf'] = list(x.toarray())

In [ ]:
v.get_feature_names()

In [18]:
dat_tf = pd.DataFrame(list(x.toarray()))
dat_tf.columns = v.get_feature_names()
dat_tf.head(2)

,000,05,08jdmopk06,09,0dkgtxy2z4,0enemgjnvm,0imrj44lhc,0nn8cjnjkc,0pcx5tz3m1,0qjmibm6sm,...,อม,อมและแสดง,าคฤหาสน,านดอลลาร,าเช,เผ,แปะร,แล,ในช,ในราคา
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
dat_tf = dat_tf.stack().reset_index()
dat_tf.columns = ['document_id', 'term', 'idf']
dat_tf.head(3)

   document_id        term  idf
0            0         000  0.0
1            0          05  0.0
2            0  08jdmopk06  0.0

In [20]:
dat_tf.head(10)

   document_id        term  idf
0            0         000  0.0
1            0          05  0.0
2            0  08jdmopk06  0.0
3            0          09  0.0
4            0  0dkgtxy2z4  0.0
5            0  0enemgjnvm  0.0
6            0  0imrj44lhc  0.0
7            0  0nn8cjnjkc  0.0
8            0  0pcx5tz3m1  0.0
9            0  0qjmibm6sm  0.0

In [21]:
dat_tf['is_zero'] = dat_tf.idf != 0
dat_tf.is_zero.value_counts()

False    3453849
True       16151
Name: is_zero, dtype: int64

In [ ]:
dat_tf[dat_tf['is_zero']==True].groupby('term').size().sort_values(ascending=False)