In [1]:
import pandas as pd
import python.twitter_authentication as twit_auth
from python.twitter_scraping import scrape_tweets

twitter_api = twit_auth.authenticate_twitter()
dat = scrape_tweets("Super Bowl", 1000)

Getting tweets 100 to 200
Getting tweets 200 to 300
Getting tweets 300 to 400
Getting tweets 400 to 500
Getting tweets 500 to 600
Getting tweets 600 to 700
Getting tweets 700 to 800
Getting tweets 800 to 900
Getting tweets 900 to 1000

In [2]:
dat.head()

,id,retweet_count,text
0,828662429135409153,1228,RT @Casablancas_J: super bowl weirdly mirrored...
1,828662429131403265,0,Best super bowl ever #2017
2,828662429106262017,8,RT @Los40_Spain: #VIDEO Así fue el esperado sh...
3,828662428875493376,63,RT @PHLEaglesNation: Cannot even imagine the e...
4,828662428409925632,1039,RT @nballaccess: World Series game 7\nNBA fina...

In [6]:
dat.retweet_count.value_counts().sort_values(ascending=F)

NameError: name 'F' is not defined

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
v = TfidfVectorizer()
x = v.fit_transform(dat['text'])

In [4]:
dat['tfidf'] = list(x.toarray())

In [8]:
v.get_feature_names()

AttributeError: 'list' object has no attribute 'head'

In [6]:
dat_tf = pd.DataFrame(list(x.toarray()))
dat_tf.columns = v.get_feature_names()
dat_tf.head(2)

,000,00am,05,05cesgar,06xe7ovf86,06zgs7q6b7,0dkgtxy2z4,0dxhyl9rmz,0i5g8dzk6u,0rnfbwkxde,...,าเท,เปอร,เลด,แบ,แฝงไปด,โชว,โบว,哈利波特,更新,石內卜才新婚娶初戀今病逝
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
dat_tf = dat_tf.stack().reset_index()
dat_tf.columns = ['document_id', 'term', 'idf']
dat_tf.head(3)

   document_id         term  idf
0            0  document_id    0
1            0         term  000
2            0          idf    0

In [10]:
dat_tf.head(10)

   document_id         term   idf
0            0  document_id     0
1            0         term   000
2            0          idf     0
3            1  document_id     0
4            1         term  00am
5            1          idf     0
6            2  document_id     0
7            2         term    05
8            2          idf     0
9            3  document_id     0

In [89]:
dat_tf['is_zero'] = dat_tf.idf != 0
dat_tf.is_zero.value_counts()

False    3717330
True       15670
Name: is_zero, dtype: int64

In [92]:
dat_tf[dat_tf['is_zero']==True].groupby('term').size().sort_values(ascending=False)

term
super             811
bowl              811
https             700
rt                678
co                669
the               414
to                185
patriots          152
in                143
gaga              136
lady              124
of                112
and               104
superbowl         102
brady              86
is                 80
that               77
show               74
this               74
it                 70
for                68
halftime           67
tom                67
at                 64
trump              63
li                 63
with               58
win                57
was                57
on                 55
                 ...
nk8z7zfzxh          1
nk6izg3qtk          1
një                 1
niveau              1
niobztp2qh          1
ninjafast22         1
nil                 1
notes               1
notmy               1
november            1
nvlbyncff1          1
nämna               1
nyy96gbq0l          1
nypostsports        1
nymag               1
nyiucsmsiy          1
nxneins             1
nww4fpy4fn          1
nw5c3xkvor          1
nutritionists       1
nq513texdt          1
nur                 1
nukingpolitics      1
nuevo               1
nu                  1
ntvgadolil          1
ntuhjaz55f          1
nrxa2oizfs          1
nrx0jwnh1c          1
00                  1
dtype: int64